:root {
  --black: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

span {
  font-family: 'Pacifico', cursive;
  color: #fff;
}

a {
  color: #000;
  color: var(--black);
}

h2 {
  color: #fff;
  font-weight: 100;
}

.site-header {
  min-height: 60vh;
  /* background-color: #70C1B3; */
  background-color: #63C6B8;
}

.site-header__logo {
  text-align: center;
  width: 200px;
  height: auto;
  margin: 0 auto;
}