body {
  font-family: 'Raleway', sans-serif;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--black);
}

p {
  font-weight: 300;
}