.site-footer {
  padding: 30px;
  background-color: var(--darkGray);

  &__container {
    padding: 0 30px;
    max-width: 450px;
    text-align: center;
    margin: 0 auto;

    @media (--small-window) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__profile {
    display: none;

    @media (--small-window) {
      display: block;
      width: 110px;
      margin-top: 0;
      border-radius: 50%;
    }
  }

  &__email {
    font-size: 0.8rem;
    text-decoration: none;
    margin: 0;
    font-weight: 700;
    color: var(--white);

    @media (--small-window) {
      font-size: 1.5rem;
    }
  }
}