.site-footer {
  padding: 30px;
  background-color: var(--darkGray);

  &__container {
    display: flex;
    padding: 0 30px;
    max-width: 1360px;
    justify-content: flex-end;
    align-items: center;
  }

  &__profile {
    width: 100px;
    border-radius: 50%;

    @media (--small-window) {
      width: 125px;
    }
  }

  &__email {
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
    margin-right: 20px;
    font-weight: 700;
    color: var(--white);

    @media (--small-window) {
      font-size: 1.8rem;
    }
  }
}