.site-footer {
  min-height: 20vh;
  text-align: center;
  background-color: #42586A;

  &__email {
    margin-top: 50px;
    display: inline-block;
    font-size: 2rem;
    font-weight: 100;
    color: var(--white);
  }
}