.page-section {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &__slanted {
    width:100%;
    position: absolute;
    background-color: var(--white);
    padding: 14px;
    top: -14px;
    transform:rotate(179deg);
  }

  &__top {
    text-align: center;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
  }

  &__container {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    max-width: 1360px;

    @media (--small-window) {
      width: 75%;
    }
  }

  &__about {

    @media (--small-window) {
      padding-right: 10%;
    }

    &--is-hidden {
      display: none;
    }
  }

  &__work {
    display: none;
    text-align: right;

    @media (--small-window) {
      padding-left: 10%;
    }

    &--is-visible {
      display: block;
    }
  }

  &--gray {
    background-color: var(--lightGray);
    color: var(--black);
    padding: 20px;
  }

  &--red {
    background-color: var(--mainRed);
    color: var(--white);
    padding: 0;
  }
}