.portfolio {
  padding-bottom: 20px;
  max-width: 1360px;
  margin: 0 auto;

  &__container {
    margin: 0 auto;
    width: 90%;

    @media (--medium-window) {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  &__item {
    padding: 0 20px 20px 20px;

    @media (--medium-window) {
      flex-basis: 30%;
    }

    @media (--medium-window) {
      padding: 0 5px 20px 5px;
    }
  }

  &__image {
    border: 2px solid var(--mainRed);
    border-radius: 5px;
  }
}