.powered-by {

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    max-height: 50px;
    max-width: 50px;
    margin: 10px;
  }
}