.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mainGreen);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--mainRed);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--mainRed);
}

input:checked + .slider:before {
  transform: translateX(26px);
}